@import url('https://fonts.googleapis.com/css?family=Muli');

body {
	font-size: 16px;
	font: 300 16px/1.5 Muli, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	line-height: 1.25;
	margin: 0 0 .3em;
}

h1 {
	font-size: 3em;
	line-height: 1.05;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.125em;
	font-weight: 300;
}

nav a {
	color: #9D9D9D;
	text-decoration: none;
}

nav a:hover {
	color: #FFF;
	text-decoration: none;
}

nav .account, nav .account-dropdown li {
	padding: 1em 3em;
}

nav .account-dropdown {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
}

nav .account-dropdown.expanded {
	display: block;
}

nav .account-dropdown li {
	list-style: none;
	background-color: #222;
}

section {
	max-width: 1200px;
	margin: 0 auto;
}

.avatar {
	border-radius: 500px;
	vertical-align: middle;
	padding: .5em;
}

.avatar-sm {
	height: 3em;
	width: 3em;
}

.jumbotron {
	background-color: #1BB0CE;
	color: #FFF;
	margin-top: 85px;
}

/*utility classes*/
.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.no-padding {
	padding: 0;
}

.small-padding-horizontal {
	padding-left: .5em;
	padding-right: .5em;
}

.standard-padding-horizontal {
	padding-left: 1em;
	padding-right: 1em;
}

.standard-padding-vertical {
	padding-bottom: 1em;
	padding-top: 1em;
}

.section-padding-vertical {
	padding-bottom: 1em;
	padding-top: 4em;
}

.upper-case {
	text-transform: uppercase;
}

/*index*/
.city {
	background-color: #1BB0CE;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 16em;
	margin: .5em;
}

.city:first-child {
	margin-left: 0;
}

.city h2 {
	font-weight: bold;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}

.city h4 {
	padding-bottom: 1em;
}

.city h2, .city h4 {
	color: #FFF;
}

.region {
	box-sizing: border-box;
}

.region a {
	text-decoration: none;
}