<!DOCTYPE>
<html>
<head>
	<% include ../_partials/head.ejs %>
</head>
<body>
	<header>
		<% include ../_partials/navbar.ejs %>
	</header>
	<main>
		<div class="jumbotron text-center">
			<h1>
				<span class="glyphicon glyphicon-plane"></span>
				localhost
			</h1>
		</div>

		<section>
			<div class="region col-md-12" id="na">
				<h4>North America</h4>

				<a href="" class="chicago col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Chicago.jpg);">
						<h2 class="small-padding-horizontal">Chicago</h2>
						<h4 class="standard-padding-horizontal">United States</h4>
					</div>
				</a>

				<a href="" class="diamond-bar col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Diamond_Bar.jpg);">
						<h2 class="small-padding-horizontal">Diamond Bar</h2>
						<h4 class="standard-padding-horizontal">United States</h4>
					</div>
				</a>

				<a href="" class="canada col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Hamilton.jpg);">
						<h2 class="small-padding-horizontal">Hamilton</h2>
						<h4 class="standard-padding-horizontal">United States</h4>
					</div>
				</a>
			</div>

			<div class="region col-md-12" id="latam">
				<h4>Latin America</h4>

				<a href="" class="recife col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Recife.jpg);" >
						<h2 class="small-padding-horizontal">Recife</h2>
						<h4 class="standard-padding-horizontal">Brazil</h4>
					</div>
				</a>

				<a href="" class="sao-paulo col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Sao_Paulo.jpg);">
						<h2 class="small-padding-horizontal">Sao Paulo</h2>
						<h4 class="standard-padding-horizontal">Brazil</h4>
					</div>
				</a>

			</div>

			<div class="region col-md-12" id="emea">
				<h4>Europe, Middle East, Africa</h4>

				<a href="" class="budapest col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Budapest.jpg);">
						<h2 class="small-padding-horizontal">Budapest</h2>
						<h4 class="standard-padding-horizontal">Hungary</h4>
					</div>
				</a>

				<a href="" class="morocco col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Casablanca.jpg);">
						<h2 class="small-padding-horizontal">Casablanca</h2>
						<h4 class="standard-padding-horizontal">Morocco</h4>
					</div>
				</a>

				<a href="" class="dublin col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Dublin.jpg);">
						<h2 class="small-padding-horizontal">Dublin</h2>
						<h4 class="standard-padding-horizontal">Ireland</h4>
					</div>
				</a>

				<a href="" class="eschborn col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Eschborn.jpg);">
						<h2 class="small-padding-horizontal">Eschborn</h2>
						<h4 class="standard-padding-horizontal">Germany</h4>
					</div>
				</a>

				<a href="" class="leiden col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Leiden.jpg);">
						<h2 class="small-padding-horizontal">Leiden</h2>
						<h4 class="standard-padding-horizontal">Netherlands</h4>
					</div>
				</a>

				<a href="" class="london col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/London.jpg);">
						<h2 class="small-padding-horizontal">London</h2>
						<h4 class="standard-padding-horizontal">United Kingdom</h4>
					</div>
				</a>

				<a href="" class="madrid col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Madrid.jpg);">
						<h2 class="small-padding-horizontal">Madrid</h2>
						<h4 class="standard-padding-horizontal">Spain</h4>
					</div>
				</a>

				<a href="" class="paris col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Paris.jpg);">
						<h2 class="small-padding-horizontal">Paris</h2>
						<h4 class="standard-padding-horizontal">France</h4>
					</div>
				</a>

				<a href="" class="zagreb col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Zagreb.jpg);">
						<h2 class="small-padding-horizontal">Zagreb</h2>
						<h4 class="standard-padding-horizontal">Croatia</h4>
					</div>
				</a>
			</div>

			<div class="region col-md-12" id="apac">
				<h4>Asia Pacific</h4>

				<a href="" class="bangalore col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Bangalore.jpg);">
						<h2 class="small-padding-horizontal">Bangalore</h2>
						<h4 class="standard-padding-horizontal">India</h4>
					</div>
				</a>

				<a href="" class="dalian col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Dalian.jpg);">
						<h2 class="small-padding-horizontal">Dalian</h2>
						<h4 class="standard-padding-horizontal">China</h4>
					</div>
				</a>

				<a href="" class="singapore col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Singapore.jpg);">
						<h2 class="small-padding-horizontal">Singapore</h2>
						<h4 class="standard-padding-horizontal">Singapore</h4>
					</div>
				</a>

				<a href="" class="sydney col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Sydney.jpg);">
						<h2 class="small-padding-horizontal">Sydney</h2>
						<h4 class="standard-padding-horizontal">Australia</h4>
					</div>
				</a>

				<a href="" class="tokyo col-md-4 no-padding">
					<div class="city flex flex-column align-end justify-end" style="background-image:url(/images/Tokyo.jpg);">
						<h2 class="small-padding-horizontal">Tokyo</h2>
						<h4 class="standard-padding-horizontal">Japan</h4>
					</div>
				</a>
			</div>
		</section>
	</main>
</body>
</html>