<!DOCTYPE>
<html>
<head>
	<% include ../_partials/head.ejs %>
</head>
<body>
	<header>
		<% include ../_partials/navbar.ejs %>
	</header>
	<main>
		<div class="jumbotron text-center">
			<h1>
				<span class="glyphicon glyphicon-plane"></span>
				Local Host
			</h1>
		</div>

		<section>
			<div class="region col-md-12" id="na">
				<h4>North American</h4>

				<a href="" class="canada col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Canada</h2>
					</div>
				</a>

				<a href="" class="chicago col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Chicago</h2>
					</div>
				</a>

				<a href="" class="diamond-bar col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Diamond Bar</h2>
					</div>
				</a>
			</div>

			<div class="region col-md-12" id="latam">
				<h4>Latin America</h4>

				<a href="" class="sao-paulo col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Sao Paulo</h2>
					</div>
				</a>

				<a href="" class="recife col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Recife</h2>
					</div>
				</a>
			</div>

			<div class="region col-md-12" id="emea">
				<h4>Europe, Middle East, Africa</h4>

				<a href="" class="budapest col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Budapest</h2>
					</div>
				</a>

				<a href="" class="morocco col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Morocco</h2>
					</div>
				</a>

				<a href="" class="dublin col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Dublin</h2>
					</div>
				</a>

				<a href="" class="eschborn col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Eschborn</h2>
					</div>
				</a>

				<a href="" class="leiden col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Leiden</h2>
					</div>
				</a>

				<a href="" class="london col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>London</h2>
					</div>
				</a>

				<a href="" class="madrid col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Madrid</h2>
					</div>
				</a>

				<a href="" class="paris col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Paris</h2>
					</div>
				</a>

				<a href="" class="zagreb col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Zagreb</h2>
					</div>
				</a>
			</div>

			<div class="region col-md-12" id="apac">
				<h4>Asian Pacific</h4>

				<a href="" class="bangalore col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Bangalore</h2>
					</div>
				</a>

				<a href="" class="dalian col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Dalian</h2>
					</div>
				</a>

				<a href="" class="singapore col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Singapore</h2>
					</div>
				</a>

				<a href="" class="sydney col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Sydney</h2>
					</div>
				</a>

				<a href="" class="tokyo col-md-4 no-padding">
					<div class="city flex align-center justify-center">
						<h2>Tokyo</h2>
					</div>
				</a>
			</div>
		</section>
	</main>
</body>
</html>